.jpw2 #hideArea .searchBtn {height:35px;margin-top:-10px;}
#uploadPhotoLabel{width:115px;}
#userLogin {margin-top:40px;}
.jpw2 .footer {background: url("image/jp/bg/black-grid-bg.png") repeat scroll 0 0;margin-top:1px;}
.jpw2 .copyright {height:30px; margin:0 auto; background-color:black; text-align:center; padding-top:8px; color:#eeeeee; font-size:12px;}
.jpw2 #searchTag {padding-top:30px;}
.jpw2 #articleHeader {padding-top:35px;}
.jpw2 #demo {padding-top:35px;}
.jpw2 button.css3Greenbutton {color: #000;}